h1{
    text-align: center;
    color:royalblue;
    font-size: 40px;
}
h2{
    text-align: center;
    color:maroon;
    font-size: 30px;
}
h3{
    text-align:left;
    font-size: 20px;
    margin-bottom: 0px;
    
}
table[name=table],th[name=table],td
{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    align-content: center;
    align-self: center;
    border: 1px solid black;
    text-align: center;
}
th{
    width: 100%;
}
fieldset
{ border-style:double;
    border-width: 5px;
    border-color:indianred;
}
body
{
    
    background-image: url(tech3.jpg);

}
input[type="submit"]
{
    margin-top: 5px;
    margin-left: 35%;
    padding: 10px;
    border-width: 2px;
    border-color: brown;
    width: 30%;
    color:blue;
    font-size: 15px;
    text-align: center;
    
    
    
}